.pressure {
    width: 1350px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 769px) and (max-width: 1200px) {
    .pressure {
        transform: scale(0.8);
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .pressure {
        width: 100%;
        transform: scale(0.7);
        justify-content: center;
        margin-top: 50px;
    }
}

@media (min-width: 321px) and (max-width: 576px) {
    .pressure {
        max-width: 950px;
        transform: scale(0.6);
        margin-top: -130px;
    }
}

@media (max-width: 320px) {
    .pressure {
        max-width: 950px;
        transform: scale(0.3);
        margin-top: -270px;
        margin-bottom: -350px;
    }
}
