.granularText {
    display: flex;
    flex-direction: column;
}

.redRect {
    background-color: rgba(224, 30, 46, 1);
    width: 75px;
    height: 8px;
}

.text {
    color: black;
    font-weight: 900;
    size: 32px;
    line-height: 39px;
    width: 500px;
}
