.granularText {
    display: flex;
    flex-direction: column;
}

.redRect {
    background-color: rgba(224, 30, 46, 1);
    width: 75px;
    height: 8px;
}

.text {
    color: black;
    font-weight: 900;
    size: 32px;
    line-height: 39px;
    width: 500px;
}

@media (min-width: 577px) and (max-width: 768px) {
    .granularText {
        transform: scale(1.167);
        max-width: 600px;
        margin-left: 50px;
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .granularText {
        margin-bottom: 20px;
    }
}
