.secondLayer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (min-width: 577px) and (max-width: 768px) {
    .secondLayer {
        flex-direction: column;
        margin-top: 50px;
    }
}
