.header {
    height: 100px;
    z-index: 5;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 577px) and (max-width: 768px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
}
