.navigationmenu {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    line-height: 24px;
}

.navigationmenu a {
    text-decoration: none;
}

.item a {
    color: white;
    cursor: pointer;
}

.item a:focus {
    font-style: italic;
    color: rgb(75, 6, 139);
}

.item a:hover {
    font-style: italic;
}
