.navigationmenu {
    width: 700px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.navigationmenu a {
    text-decoration: none;
}

.item {
    margin-right: 30px;
}

.item a {
    color: white;
    cursor: pointer;
}

.item a:hover {
    color: bisque;
}

@media (min-width: 577px) and (max-width: 768px) {
    .navigationmenu {
        width: auto;
        font-weight: 500;
    }

    .item {
        margin-right: 10px;
    }
}
