.navigationmenu {
    grid-area: navmenu;
    background-color: palegreen;
    padding-left: 5px;
    min-width: 150px;
}

.navigationmenu a {
    text-decoration: none;
}

.item a {
    color: black;
    cursor: pointer;
}

.item a:focus {
    font-style: italic;
    color: rgb(75, 6, 139);
}

.item a:hover {
    font-style: italic;
}
