.app-wrapper {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: gray;
}

.app-wrapper-content {
  height: auto;
}


