.dotsContainer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    transition: background-color 0.3s ease-out;
}

.active {
    background-color: red;
}
