.dda {
    width: 100%;
    height: 1200px;
    background-image: url("./../../../../public/ca18_bw.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

