.dda {
    background-image: url("./../../../../public/ca18_bw.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 769px) and (max-width: 1200px) {
    .dda {
        max-width: 1200px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .dda {
        max-width: 768px;
    }
}

@media (min-width: 321px) and (max-width: 576px) {
    .dda {
        max-width: 576px;
    }
}
